<div class="container" id="new-cocktail">
  <h1>Add a cocktail</h1>
  <div class="form">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
  <br><br>
  <%= link_to "Back to all cocktails", root_path %>
</div>
