<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Just an image -->
    <nav class="navbar justify-content-center" style="background-color: rgba(0,0,0,0.2)">
      <a class="navbar-brand" href="/">
        <img src="https://lh3.googleusercontent.com/proxy/29JfC3Hx4DBteHualHTyEoCve-xc79TwvWwDHFHOYkpZbWWSNQoehei0DP9s2H0h1n0ZehyrEzW5u3DfPw47OQXD3cIm6IqvRa9vo3rRb8cEylINkH5TvxYlVQ"  class =" img-circle" width="60" height="60" alt="" loading="lazy">
      </a>
    </nav>
    <%= yield %>
  </body>
</html>
